{% extends "_base.html" %}

{% block page %}books{% endblock page%}
{% block lang %}{% if section.extra.lang %}{{ section.extra.lang }}{% else %}{{ section.lang }}{% endif %}{% endblock lang %}
{% block title %}{{ section.title }}{% endblock title %}
{% block desc %}{{ section.description }}{% endblock desc %}

{% block content %}
{% include "_header.html" %}
<div class="flex items-center justify-center">
  <main class="py-24 p-6 max-w-prose">
    <section class="mb-16 tl-prose">
      <section class="intro">
        <h1>Books</h1>
        <p>I have written about some of them in more depth (depends on which ones have enough depth to write about). I try to extract meaning from each book I read, but obviously it doesn't really work out that well. So, a I figured a better way is to sometimes appreciate that too.</p>

        <h2>Some series</h2>

        <h3>Rick Riordan</h3>

        <p>I have to start with him because I have read <strong>every single book</strong> in the <code>Percy Jackson</code> universe. This includes</p>

        <ul>
          <li>☑ Percy Jackson series - 5</li>
          <li>☑ Heros of Olympus series - 5</li>
          <li>☑ Kane Chronicles - 3</li>
          <li>☑ Trails of Apollo - 5</li>
          <li>☑ Magnus Chase - 3</li>
          <li>☑ Greeks heroes and gods - 2</li>
          <li>☑ A few latest releases (though I did not like them much, might also be because I am older now)</li>
        </ul>

        <p>All thanks to this dude. He really kickstarted my reading journey back in the days (when I was 12 or so)</p>

        <h3>Geronimo Stilton</h3>

        <p>I believe any list will be incomplete without mentioning this mouse. Everyone I know has at some point in their lives read about this dude. I have read something like 20 books in this, I don't even remember the names now, but I can recall the feeling of opening up my cupboard just to see all these GS books looking back at me!</p>

        <h3>Assassin's creed</h3>

        <p>Yeah I read the book before I played the games. I read only 4 of these though:</p>

        <ul>
          <li>☑ Renaissance (That's Ezio's story before he's old)</li>
          <li>☑ Brotherhood (That's a continuation)</li>
          <li>☑ The Secret Crusade (Personal favourite, Altair's story)</li>
          <li>☑ Revelations (That's when Ezio dies :()</li>
        </ul>

        <h3>Diary of a wimpy kid</h3>

        <p> I mean, who hasn't read the entire series 5 times over (I was so obsessed I would <strong>read</strong> this instead of youtube while eating) </p>

        <h3>Tom Gates</h3>

        <p>I wouldn't count the number of books in this series because I forgot, but it a pretty fun series for kids. I was a kid too you know, loved reading this. I bought the first book named <strong>Excellent Excuses</strong> because I thought it'll give me a LIST OF EXCUSES to make. Either way, turned out to be a good buy.</p>

        <p>That's all for series I guess. I read some <code>science books</code> as well! Yeahh, it was a good passtime.</p>

        <ul>
          <li>☑ Stephen Hawking - A Brief History of Time (was possibly the first science book I bought and I understood jackshit back then)</li>
          <li>☑ Michio Kaku - Parallel Worlds (Some mind-twisting stuff inside that, but I was slowly getting a hang of it)</li>
          <li>☑ Stephen Hawking - Brief Answers to Big Questions (this was still a doable read because of my "experience" now)</li>
          <li>☑ James Glieck - Chaos (A beautifully complex book, took me a while to finish, and even longer to understand what I had just read)</li>
          <li>☑ Manjit Kumar - Quantum (Introduced me to quantum mechanics like no other book could ever. I felt like I was living with Bohr)</li>
          <li>☑ Joshua Foer - Moonwalking with Einstein (Initially I was skeptical about the name but it's a very good and a new t idea which I still could bring to fruition)</li>
          <li>☑ Daniel Kahneman - Thinking fast and slow (I mean, who hasn't read this. But the real question is, do you use anchor theory in your life? If not, do it. It's awesome)</li>
          <li>☑ Richard Feynman - Surely you're joking Mr. Feynman (Haha, fuck up, but own it, and recover. Man really liked to live)</li>
          <li>☑ Steven Strogatz - The joy of X (Thanks to 3b1b who introduced me to him after an interview. This is pretty much a chill and fun book, nothing serious)</li>
          <li>☑ Yuval Noah Harari - Sapiens (A nice and long history of everything we've done right and wrong. I love how blunt he is!)</li>
          <li>☑ Richard Dawkins - The Selfish Gene (My first book on evolutionary biology and boy it was done right)</li>
          <li>☑ <strong>Roger Penrose</strong> - <strong>The Emperor's New Mind</strong> (The one book which sparked my interest in computer science, and everything in it. What a man!)</li>
          <li>☑ Yuval Noah Harari - Homo Deus (Some good ideas. By this time, I had learnt some things that I could have opinions of my own and challenge some of his)</li>
        </ul>

        <p>There are some stories that I have absolutely cherished. The ones I can remember off the top of my head are</p>

        <ul>
          <li>☑ Paulo Coelho - The Alchemist (What a surprise, I had been avoiding reading this book for so long for absolutely no reason, glad I came through because it genuinely is one of the most moving books out there!)</li>
          <li>☑ Fyodor dostoevsky - The White Nights (What a love. I had no words. The neglect hurt more than the fact that he meant nothing)</li>
          <li>☑ Fyodor Dostoevsky - Crime and Punishment (Classic classic. Betrayed himself for nothing. I think this is the theme for most of his novels!)</li>
          <li>☑ Fyodor Dostoevsky - The Brothers Karamazov (Haven't/Couldn't finish this yet. Let's see what this brings up. The ideas of self-deception are clear here as well. As I said...)</li>
          <li>☑ V. S. Naipaul - A house for Mr. Biswas (Never thought I would enjoy the melodrama but here we are, because the setting and plot is so simple, and yet so elegant)</li>
          <li>☑ Leo Tolstoy - Anna Karenina (Yooo, another melodrama! But damn, reminded me of this one specific movie called malena, though they are completely unrealated, I always pictured her)</li>
          <li>☑ Franz Kafka - The Trail (Man this was haunting. Led me into a deeper study of absurdism and kafkaesque writing styles. You know, any screenplay I thought of since, always had this element)</li>
          <li>☑ Franz Kafka - The Metamorphosis (Another one of Kafka's "you can't control, you will die" novels.)</li>
          <li>☑ Samuel R. Delany - Dhalgren (The one novel I still can't finish. That's all you need to know about this)</li>
          <li>☑ Khaled Hosseini - The Kite Runner (This felt more raw and emotional that most other stories, again a simple plot but expressed nicely. But honestly, nothing too over the top)</li>
          <li>☑ Alexandre Dumas - The Count of Monte Cristo (Hope and wait, a story where no character is morally good or evil only selfish)</li>
      </ul>

      <p>And some <code>Self-help books</code>. I didn't really enjoy them much, I read because my dad had a bunch of them in the house </p>

      <ul>
        <li>☑ Adam Grant - Think Again (Talks about the need to rethink old ideas and ways of thinking. I always took as a message to break conformity and think for yourself)</li>
        <li>☑ James Clear - Atomic Habits (Who hasn't read it. I found it reminiscent of this one speech given by Admiral McRaven at the University of Texas. Some ideas were nice, like those for removing distractions)</li>
        <li>☑ Morgan Housel - The psychology of money (Not really self-help I guess, but I don't remember anything that was there in that book. Besides all of them seem like a part of <strong>The Intelligent Investor</strong>)</li>
        <li>☑ Benjamin Graham - The Intelligent Investor (How could I not. The OG self-help book. Reading this, I started my investing journey, with the help of my dad of course)</li>
      </ul>

      <p>And for my favourite section: <code>Biographies and Autobiographies<code>! I think I will write indivdual sections for those because I have a lot to say about them.</p>

      </section>
    </section>

    <div class="py-7 p-6 max-w-prose">
    <main class="col gap-5">
      {% if config.extra.books_categorized %}
      {% for category,posts in section.pages | group_by(attribute="taxonomies.categories.0") -%}
      <h1 class="text-2xl">{{ category }}</h1>
      <div class="col gap-5">
        {% for post in posts %}
        <div>
          <a href="{{ post.permalink }}" class="tl-link">{{ post.title }}</a>
          <span class="text-black dark:text-white text-lg pl-2">{{ post.date | date}}</span>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
      {% else %}
      <div class="col gap-5">
        {% for post in section.pages %}
        <div>
          <a href="{{ post.permalink }}"class="tl-link">{{ post.title }}</a>
          <span class="text-black dark:text-white text-lg pl-2">{{ post.date | date}}</span>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </main>
    {% include "_footer.html" %}
  </div>
  </main>
</div>
{% endblock %}

