{% extends "_base.html" %}
{% block page %}wisp{% endblock page %}
{% block lang -%}
{% set section = get_section(path="wisps/_index.md", metadata_only=true) %}
{%- if page.extra.lang %}{{page.extra.lang}}{% elif section.extra.lang %}{{section.extra.lang}}{% else %}{{page.lang}}{% endif -%}
{%- endblock lang %}
{% block title %}{{ page.title }}{% endblock title %}
{% block desc %}{% if page.summary %}{{ page.summary }}{% endif %}{% endblock desc %}

{% block head %}
{% if config.markdown.highlight_theme == "css" %}
<link id="hl" rel="stylesheet" type="text/css" href="{{ config.base_url }}/hl-light.css" />
{% endif %}
{% if page.extra.math %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css" integrity="sha384-3UiQGuEI4TTMaFmGIZumfRPtfKQ3trwQE2JgosJxCnGmQpL/lJdjpcHkaaFwHlcI" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.js" integrity="sha384-G0zcxDFp5LWZtDuRMnBkk3EphCK1lhEf4UEyEM693ka574TZGwo4IWwS6QLzM/2t" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    /* eslint-disable-next-line no-undef */
    renderMathInElement(document.body, {
      delimiters: [
        { left: '$$', right: '$$', display: true },
        { left: '$', right: '$', display: false },
        { left: '\\(', right: '\\)', display: false },
        { left: '\\[', right: '\\]', display: true }
      ],
      throwOnError: false
    });
  });
</script>
{% endif %}
{% endblock head %}

{% block content %}
{% include "_header.html" %}
  <article class="wisp">
    <h1>{{ page.title }}</h1>
    <p><em>Published on {{ page.date }}</em></p>
    
    <div class="content">
      {{ page.content | safe }}
    </div>

    {% if page.taxonomies.tags %}
      <p>Tags:
        {% for tag in page.taxonomies.tags %}
          <a href="{{ get_taxonomy_url(kind='tags', name=tag) }}">{{ tag }}</a>
        {% endfor %}
      </p>
    {% endif %}
  </article>
{% endblock %}
