{% extends "_base.html" %}

{% block page %}wisps{% endblock page%}
{% block lang %}{% if section.extra.lang %}{{ section.extra.lang }}{% else %}{{ section.lang }}{% endif %}{% endblock lang %}
{% block title %}{{ section.title }}{% endblock title %}
{% block desc %}{{ section.description }}{% endblock desc %}

{% block content %}
{% include "_header.html" %}
<div class="flex items-center justify-center">
  <section class="intro">
    <h1>Wisps</h1>
    <p>A collection of my non-tech musings—guitar sheet music, sketches, and ideas.</p>
  </section>

  <section class="wisps-list">
    <h2>Creations</h2>
    <ul>
      {% for page in section.pages %}
        <li>
          <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
          {% if page.summary %}
            <p>{{ page.summary }}</p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>
</div>
{% endblock %}
