{% extends "_base.html" %}

{% block page %}wisps{% endblock page%}
{% block lang %}{% if section.extra.lang %}{{ section.extra.lang }}{% else %}{{ section.lang }}{% endif %}{% endblock lang %}
{% block title %}{{ section.title }}{% endblock title %}
{% block desc %}{{ section.description }}{% endblock desc %}

{% block content %}
{% include "_header.html" %}
<div class="flex items-center justify-center">
  <main class="py-24 p-6 max-w-prose">
    <section class="mb-16 tl-prose">
      <section class="intro">
        <h1>Wisps</h1>
        <p>A collection of my non-tech musings—guitar sheet music, sketches, and ideas. After so much tech related stuff I decided I will keep a seperate section for these things!

        So, it might surprise you to know that I do the following as well...

        <br>
      🎶 I play guitar, mostly classical but also electrical sometimes. The electrical one is kept with my brother in my house so I don't get to touch it much, but classical yeahh! In the music section you will see some sheets I wrote based on the <strong> Phrygian dominant scale </strong> to make some arabic sounding music. You will also find my music taste quite impeccable :wink:!</p>
      
      <br>
      🎨 I am a potrait artist! If you wanna see some of my best art, it'll be under this tag. I can't paint very well because I have no sense of color so I just use charcoal to cover for it. I have also made nude sketches which was a really cool experience!

      <br>
      🎤 I also debate competitively for my college. Contrary to popular belief, debate isn't about shutting someone down as much as annhilating them to pieces and then stepping on it (just kidding). Here I keep my debating notes, matter files and more. 
      </section>
    </section>

    <div class="py-7 p-6 max-w-prose">
    <main class="col gap-5">
      {% if config.extra.wisps_categorized %}
      {% for category,posts in section.pages | group_by(attribute="taxonomies.categories.0") -%}
      <h1 class="text-2xl">{{ category }}</h1>
      <div class="col gap-5">
        {% for post in posts %}
        <div>
          <a href="{{ post.permalink }}" class="tl-link">{{ post.title }}</a>
          <span class="text-black dark:text-white text-lg pl-2">{{ post.date | date}}</span>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
      {% else %}
      <div class="col gap-5">
        {% for post in section.pages %}
        <div>
          <a href="{{ post.permalink }}"class="tl-link">{{ post.title }}</a>
          <span class="text-black dark:text-white text-lg pl-2">{{ post.date | date}}</span>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </main>
    {% include "_footer.html" %}
  </div>
  </main>
</div>
{% endblock %}
